 body, ul, li, p {
   margin: 0px;
   padding: 0px;
   list-style: none;
   font-size: 1.2rem;
   font-family: Arial;
 }

 a {
   text-decoration: none;
   color: white;
 }

 .header {
   background: #1D1E20;
   display: flex;
   flex-wrap: wrap;
   /* quando a tela for muito pequena um item vai ser deslocado para a parte de baixo */
   justify-content: space-between;
   align-items: center;
   padding: 20px;
 }

 .menu {
   display: flex;
 }

 .menu li {
   margin-left: 10px;
 }

 .menu li a {
   display: block;
   padding: 10px;  /* aumentando a área de click */
 }